### Deliverable 1: Preprocessing the Data for a Neural Network

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://raw.githubusercontent.com/domivillacis/Neural_Network_Charity_Analysis/main/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","NAME","ORGANIZATION","SPECIAL_CONSIDERATIONS"],axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type = application_df.APPLICATION_TYPE.value_counts()
application_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_type[application_type <200].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
application_df[application_cat].nunique()

APPLICATION_TYPE    9
AFFILIATION         6
CLASSIFICATION      6
USE_CASE            5
INCOME_AMT          9
dtype: int64

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

<ipython-input-10-fae914666e78>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  application_df = application_df.drop(application_cat,1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-11-f199198450cb>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Attempt 1:

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=100, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               3800

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 8,901
Trainable params: 8,901
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch')

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=20,callbacks=[cp_callback])

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/20
787/804 [============================>.] - ETA: 0s - loss: 0.5778 - accuracy: 0.7188
Epoch 1: saving model to checkpoints/weights.01.hdf5
804/804 [==============================] - 5s 4ms/step - loss: 0.5771 - accuracy: 0.7194
Epoch 2/20
798/804 [============================>.] - ETA: 0s - loss: 0.5648 - accuracy: 0.7263
Epoch 2: saving model to checkpoints/weights.02.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5647 - accuracy: 0.7267
Epoch 3/20
799/804 [============================>.] - ETA: 0s - loss: 0.5628 - accuracy: 0.7275
Epoch 3: saving model to checkpoints/weights.03.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5626 - accuracy: 0.7277
Epoch 4/20
776/804 [===========================>..] - ETA: 0s - loss: 0.5618 - accuracy: 0.7285
Epoch 4: saving model to checkpoints/weights.04.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5614 - accuracy: 0.7280
Epoch 5/20
791/804 [============================>.] - ETA: 0s - loss: 0.5601 - accuracy: 0.7294
Epoch 5: saving model to checkpoints/weights.05.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5606 - accuracy: 0.7289
Epoch 6/20
795/804 [============================>.] - ETA: 0s - loss: 0.5598 - accuracy: 0.7274
Epoch 6: saving model to checkpoints/weights.06.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7278
Epoch 7/20
795/804 [============================>.] - ETA: 0s - loss: 0.5596 - accuracy: 0.7287
Epoch 7: saving model to checkpoints/weights.07.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5594 - accuracy: 0.7286
Epoch 8/20
793/804 [============================>.] - ETA: 0s - loss: 0.5593 - accuracy: 0.7288
Epoch 8: saving model to checkpoints/weights.08.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5590 - accuracy: 0.7290
Epoch 9/20
772/804 [===========================>..] - ETA: 0s - loss: 0.5584 - accuracy: 0.7287
Epoch 9: saving model to checkpoints/weights.09.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5583 - accuracy: 0.7288
Epoch 10/20
785/804 [============================>.] - ETA: 0s - loss: 0.5578 - accuracy: 0.7300
Epoch 10: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5582 - accuracy: 0.7296
Epoch 11/20
800/804 [============================>.] - ETA: 0s - loss: 0.5576 - accuracy: 0.7287
Epoch 11: saving model to checkpoints/weights.11.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7287
Epoch 12/20
800/804 [============================>.] - ETA: 0s - loss: 0.5574 - accuracy: 0.7301
Epoch 12: saving model to checkpoints/weights.12.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5576 - accuracy: 0.7299
Epoch 13/20
800/804 [============================>.] - ETA: 0s - loss: 0.5577 - accuracy: 0.7292
Epoch 13: saving model to checkpoints/weights.13.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5572 - accuracy: 0.7297
Epoch 14/20
803/804 [============================>.] - ETA: 0s - loss: 0.5569 - accuracy: 0.7303
Epoch 14: saving model to checkpoints/weights.14.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5569 - accuracy: 0.7303
Epoch 15/20
782/804 [============================>.] - ETA: 0s - loss: 0.5570 - accuracy: 0.7307
Epoch 15: saving model to checkpoints/weights.15.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5571 - accuracy: 0.7302
Epoch 16/20
795/804 [============================>.] - ETA: 0s - loss: 0.5567 - accuracy: 0.7297
Epoch 16: saving model to checkpoints/weights.16.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5569 - accuracy: 0.7296
Epoch 17/20
804/804 [==============================] - ETA: 0s - loss: 0.5562 - accuracy: 0.7310
Epoch 17: saving model to checkpoints/weights.17.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7310
Epoch 18/20
789/804 [============================>.] - ETA: 0s - loss: 0.5563 - accuracy: 0.7309
Epoch 18: saving model to checkpoints/weights.18.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7309
Epoch 19/20
784/804 [============================>.] - ETA: 0s - loss: 0.5560 - accuracy: 0.7299
Epoch 19: saving model to checkpoints/weights.19.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5560 - accuracy: 0.7304
Epoch 20/20
779/804 [============================>.] - ETA: 0s - loss: 0.5562 - accuracy: 0.7303
Epoch 20: saving model to checkpoints/weights.20.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5562 - accuracy: 0.7306
268/268 - 0s - loss: 0.5607 - accuracy: 0.7236 - 367ms/epoch - 1ms/step
Loss: 0.5606550574302673, Accuracy: 0.7236151695251465

In [17]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityOptimization_1.h5")

### Attempt 2

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

nn_2 = tf.keras.models.Sequential()

# First hidden layer

nn_2.add(
    tf.keras.layers.Dense(units=100, input_dim=number_input_features, activation="relu")
)

# Second hidden layer

nn_2.add(tf.keras.layers.Dense(units=80, activation="relu"))

# Third hidden layer
nn_2.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Output layer
nn_2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 100)               3800

 dense_4 (Dense)             (None, 80)                8080

 dense_5 (Dense)             (None, 40)                3240

 dense_6 (Dense)             (None, 1)                 41

=================================================================
Total params: 15,161
Trainable params: 15,161
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn_2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch')

In [21]:
# Train the model
fit_model = nn_2.fit(X_train_scaled,y_train,epochs=20,callbacks=[cp_callback])

# Evaluate the model using the test data
model_loss, model_accuracy = nn_2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/20
793/804 [============================>.] - ETA: 0s - loss: 0.5760 - accuracy: 0.7193
Epoch 1: saving model to checkpoints/weights.01.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5757 - accuracy: 0.7193
Epoch 2/20
793/804 [============================>.] - ETA: 0s - loss: 0.5651 - accuracy: 0.7244
Epoch 2: saving model to checkpoints/weights.02.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5650 - accuracy: 0.7247
Epoch 3/20
802/804 [============================>.] - ETA: 0s - loss: 0.5621 - accuracy: 0.7268
Epoch 3: saving model to checkpoints/weights.03.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5623 - accuracy: 0.7266
Epoch 4/20
782/804 [============================>.] - ETA: 0s - loss: 0.5611 - accuracy: 0.7290
Epoch 4: saving model to checkpoints/weights.04.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5618 - accuracy: 0.7280
Epoch 5/20
795/804 [============================>.] - ETA: 0s - loss: 0.5607 - accuracy: 0.7284
Epoch 5: saving model to checkpoints/weights.05.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5604 - accuracy: 0.7284
Epoch 6/20
768/804 [===========================>..] - ETA: 0s - loss: 0.5604 - accuracy: 0.7288
Epoch 6: saving model to checkpoints/weights.06.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5604 - accuracy: 0.7289
Epoch 7/20
793/804 [============================>.] - ETA: 0s - loss: 0.5593 - accuracy: 0.7301
Epoch 7: saving model to checkpoints/weights.07.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5597 - accuracy: 0.7301
Epoch 8/20
770/804 [===========================>..] - ETA: 0s - loss: 0.5593 - accuracy: 0.7283
Epoch 8: saving model to checkpoints/weights.08.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5596 - accuracy: 0.7285
Epoch 9/20
771/804 [===========================>..] - ETA: 0s - loss: 0.5598 - accuracy: 0.7286
Epoch 9: saving model to checkpoints/weights.09.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5591 - accuracy: 0.7292
Epoch 10/20
785/804 [============================>.] - ETA: 0s - loss: 0.5586 - accuracy: 0.7287
Epoch 10: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7295
Epoch 11/20
797/804 [============================>.] - ETA: 0s - loss: 0.5579 - accuracy: 0.7298
Epoch 11: saving model to checkpoints/weights.11.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5578 - accuracy: 0.7299
Epoch 12/20
793/804 [============================>.] - ETA: 0s - loss: 0.5578 - accuracy: 0.7305
Epoch 12: saving model to checkpoints/weights.12.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7303
Epoch 13/20
797/804 [============================>.] - ETA: 0s - loss: 0.5577 - accuracy: 0.7304
Epoch 13: saving model to checkpoints/weights.13.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7305
Epoch 14/20
793/804 [============================>.] - ETA: 0s - loss: 0.5570 - accuracy: 0.7302
Epoch 14: saving model to checkpoints/weights.14.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7303
Epoch 15/20
781/804 [============================>.] - ETA: 0s - loss: 0.5563 - accuracy: 0.7312
Epoch 15: saving model to checkpoints/weights.15.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7309
Epoch 16/20
798/804 [============================>.] - ETA: 0s - loss: 0.5563 - accuracy: 0.7298
Epoch 16: saving model to checkpoints/weights.16.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5567 - accuracy: 0.7295
Epoch 17/20
774/804 [===========================>..] - ETA: 0s - loss: 0.5565 - accuracy: 0.7306
Epoch 17: saving model to checkpoints/weights.17.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5562 - accuracy: 0.7305
Epoch 18/20
781/804 [============================>.] - ETA: 0s - loss: 0.5564 - accuracy: 0.7303
Epoch 18: saving model to checkpoints/weights.18.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5562 - accuracy: 0.7310
Epoch 19/20
770/804 [===========================>..] - ETA: 0s - loss: 0.5554 - accuracy: 0.7323
Epoch 19: saving model to checkpoints/weights.19.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7312
Epoch 20/20
791/804 [============================>.] - ETA: 0s - loss: 0.5554 - accuracy: 0.7310
Epoch 20: saving model to checkpoints/weights.20.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7309
268/268 - 0s - loss: 0.5621 - accuracy: 0.7241 - 456ms/epoch - 2ms/step
Loss: 0.5621374845504761, Accuracy: 0.7240816354751587

In [22]:
# Export our model to HDF5 file
nn_2.save("AlphabetSoupCharityOptimization_2.h5")

### Attempt 3

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

nn_3 = tf.keras.models.Sequential()

# First hidden layer

nn_3.add(
    tf.keras.layers.Dense(units=100, input_dim=number_input_features, activation="sigmoid")
)

# Second hidden layer

nn_3.add(tf.keras.layers.Dense(units=80, activation="sigmoid"))

# Third hidden layer
nn_3.add(tf.keras.layers.Dense(units=40, activation="sigmoid"))

# Fourth hidden layer
nn_3.add(tf.keras.layers.Dense(units=20, activation="sigmoid"))

# Output layer
nn_3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_3.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 100)               3800

 dense_8 (Dense)             (None, 80)                8080

 dense_9 (Dense)             (None, 40)                3240

 dense_10 (Dense)            (None, 20)                820

 dense_11 (Dense)            (None, 1)                 21

=================================================================
Total params: 15,961
Trainable params: 15,961
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
nn_3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch')

In [26]:
# Train the model
fit_model = nn_3.fit(X_train_scaled,y_train,epochs=20,callbacks=[cp_callback])

# Evaluate the model using the test data
model_loss, model_accuracy = nn_3.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/20
797/804 [============================>.] - ETA: 0s - loss: 0.5999 - accuracy: 0.6947
Epoch 1: saving model to checkpoints/weights.01.hdf5
804/804 [==============================] - 3s 2ms/step - loss: 0.5998 - accuracy: 0.6949
Epoch 2/20
802/804 [============================>.] - ETA: 0s - loss: 0.5754 - accuracy: 0.7230
Epoch 2: saving model to checkpoints/weights.02.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5753 - accuracy: 0.7231
Epoch 3/20
778/804 [============================>.] - ETA: 0s - loss: 0.5733 - accuracy: 0.7236
Epoch 3: saving model to checkpoints/weights.03.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5728 - accuracy: 0.7240
Epoch 4/20
797/804 [============================>.] - ETA: 0s - loss: 0.5703 - accuracy: 0.7235
Epoch 4: saving model to checkpoints/weights.04.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5701 - accuracy: 0.7238
Epoch 5/20
790/804 [============================>.] - ETA: 0s - loss: 0.5682 - accuracy: 0.7244
Epoch 5: saving model to checkpoints/weights.05.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5680 - accuracy: 0.7246
Epoch 6/20
792/804 [============================>.] - ETA: 0s - loss: 0.5669 - accuracy: 0.7268
Epoch 6: saving model to checkpoints/weights.06.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5668 - accuracy: 0.7271
Epoch 7/20
781/804 [============================>.] - ETA: 0s - loss: 0.5668 - accuracy: 0.7251
Epoch 7: saving model to checkpoints/weights.07.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5664 - accuracy: 0.7252
Epoch 8/20
803/804 [============================>.] - ETA: 0s - loss: 0.5648 - accuracy: 0.7254
Epoch 8: saving model to checkpoints/weights.08.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5649 - accuracy: 0.7253
Epoch 9/20
793/804 [============================>.] - ETA: 0s - loss: 0.5647 - accuracy: 0.7275
Epoch 9: saving model to checkpoints/weights.09.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5646 - accuracy: 0.7277
Epoch 10/20
778/804 [============================>.] - ETA: 0s - loss: 0.5637 - accuracy: 0.7266
Epoch 10: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5635 - accuracy: 0.7270
Epoch 11/20
774/804 [===========================>..] - ETA: 0s - loss: 0.5624 - accuracy: 0.7270
Epoch 11: saving model to checkpoints/weights.11.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5628 - accuracy: 0.7266
Epoch 12/20
778/804 [============================>.] - ETA: 0s - loss: 0.5618 - accuracy: 0.7267
Epoch 12: saving model to checkpoints/weights.12.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5620 - accuracy: 0.7263
Epoch 13/20
784/804 [============================>.] - ETA: 0s - loss: 0.5609 - accuracy: 0.7287
Epoch 13: saving model to checkpoints/weights.13.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7284
Epoch 14/20
792/804 [============================>.] - ETA: 0s - loss: 0.5611 - accuracy: 0.7270
Epoch 14: saving model to checkpoints/weights.14.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5610 - accuracy: 0.7271
Epoch 15/20
783/804 [============================>.] - ETA: 0s - loss: 0.5599 - accuracy: 0.7286
Epoch 15: saving model to checkpoints/weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5600 - accuracy: 0.7287
Epoch 16/20
788/804 [============================>.] - ETA: 0s - loss: 0.5610 - accuracy: 0.7269
Epoch 16: saving model to checkpoints/weights.16.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5601 - accuracy: 0.7275
Epoch 17/20
804/804 [==============================] - ETA: 0s - loss: 0.5595 - accuracy: 0.7284
Epoch 17: saving model to checkpoints/weights.17.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7284
Epoch 18/20
794/804 [============================>.] - ETA: 0s - loss: 0.5592 - accuracy: 0.7280
Epoch 18: saving model to checkpoints/weights.18.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5593 - accuracy: 0.7280
Epoch 19/20
794/804 [============================>.] - ETA: 0s - loss: 0.5587 - accuracy: 0.7295
Epoch 19: saving model to checkpoints/weights.19.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5590 - accuracy: 0.7292
Epoch 20/20
791/804 [============================>.] - ETA: 0s - loss: 0.5588 - accuracy: 0.7293
Epoch 20: saving model to checkpoints/weights.20.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5588 - accuracy: 0.7293
268/268 - 0s - loss: 0.5625 - accuracy: 0.7220 - 355ms/epoch - 1ms/step
Loss: 0.5625152587890625, Accuracy: 0.721982479095459

In [27]:
# Export our model to HDF5 file
nn_3.save("AlphabetSoupCharityOptimization_3.h5")